.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px; /* чтобы не наезжало на фиксированный header */
}

.login-form {
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 320px;
    text-align: center;
    font-family: 'VictorMono', monospace;
}

.login-form h2 {
    margin-bottom: 25px;
    font-size: 26px;
}

.login-form label {
    display: block;
    text-align: left;
    margin: 1px 0 5px;
    font-size: 16px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    background: #f8f8f8;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 12px;
    background: #f0d907;
    border: none;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}

.login-button:hover {
    background: #cbb807;
}

.error-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.error-card {
    background: white;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    text-align: center;
    max-width: 400px;
}

.error-card h2 {
    color: #d9534f;
    font-size: 28px;
    margin-bottom: 15px;
}

.error-card p {
    font-size: 18px;
    margin-bottom: 25px;
}

.error-back {
    display: inline-block;
    padding: 10px 20px;
    background: #f0d907;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: background 0.2s;
}

.error-back:hover {
    background: #cbb807;
}
