<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title or "ИС Наружная реклама" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block extra_styles %}{% endblock %}
</head>

<body>

<div class="header-container">
    <header class="header">
        <div class="header-left">
            <div class="logo">Наружная реклама</div>
        </div>

        <nav class="menu">
            {% if session.get("username") %}
                <a href="{{ url_for('main_menu') }}">Главная</a>
            {% endif %}
            
            {% if session.get('role') in ['manager', 'admin'] %}
                <a href="{{ url_for('query.menu') }}">Запросы</a>
            {% endif %}

            {% if session.get('role') == 'admin' %}
                <a href="{{ url_for('reports.menu') }}">Отчёты</a>
            {% endif %}

            {% if session.get('role') == 'manager' %}
                <a href="{{ url_for('orders.catalog') }}">Заказы</a>
            {% endif %}
        </nav>

        <div class="header-right">
            {% if session.get("username") %}
                <span class="username">{{ session.username }}</span>
                <a class="logout" href="{{ url_for('end_session') }}">Выйти</a>
            {% endif %}
        </div>
    </header>
</div>

<main>
    {% block content %}{% endblock %}
</main>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-container">
            {% for msg in messages %}
                <div class="flash-message">{{ msg }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

</body>
</html>
